*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

.header{
  width: 1100px;
  height: 293px;
  display:grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}



.cover{
  width: 1100px;
  height: 757px;
  background-image:url(/Users/anastasiasudakova/Desktop/ono-tebe-nado-fd/images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.lots{
  width: 1052px;
  height: 723px;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.first_lot{
  background-image:url(/Users/anastasiasudakova/Desktop/ono-tebe-nado-fd/images/card-lot-01.jpg);
}

.second_lot{
  background-image:url(/Users/anastasiasudakova/Desktop/ono-tebe-nado-fd/images/card-lot-02.jpg);
}

.third_lot{
  background-image:url(/Users/anastasiasudakova/Desktop/ono-tebe-nado-fd/images/card-lot-03.jpg);
}

.about{
  width: 1052px;
  height: 595px;
}

.footer{
  width: 1100px;
  height: 180px;
}