.header {
width: 1100;
height: 293;
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding: 92px 50px 96px 50px;
}

.header__links-list {
padding-right: 36px;
display: flex;
flex-direction: row;
gap: 13px;
list-style: circle;
}

.header__logo {
display: block;
justify-self: center;
align-self: center;
width: 148px;
}

.header__logo-image {
width: 100%;
}

.address {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.header__address {
max-width: 240px;
justify-self: end;
}

.cover {
position: relative;
padding: 165px 50px 50px 50px;
background-image: url(../images/cover.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.overlay {
position: absolute;
top: 0;
left: 0;
z-index: 0;
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
position: relative;
z-index: 1;
display: flex;
flex-direction: column;
gap: 20px;
color: white;
font-weight: bold;
font-size: 100px;
letter-spacing: 30px;
text-transform: uppercase;
}

.aligned-text {
display: block;
}

.aligned-text_center {
text-align: center;
}

.aligned-text_right {
text-align: right;
}

.letter-spacing-extended {
letter-spacing: 25px;
}

.remove-spacing {
letter-spacing: normal;
}

.cover__description {
position: relative;
z-index: 1;
display: flex;
justify-content: flex-end;
align-items: center;
gap: 78px;
padding: 136px 0 0;
}

.cover__description-text {
color: white;
font-size: 22px;
text-transform: uppercase;
word-spacing: 18px;
}

.bet-button {
border: 1px white solid;
padding: 14px 32px;
color: white;
font-size: 22px;
text-transform: uppercase;
background-color: transparent;
}


.lots {
padding:0 40px;
}

.lots__heading {
padding: 00 40px 27px;
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 40px;
text-transform: uppercase;
}

.lots__card-list {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 25px;
list-style:none
}

.lots__card-list-item {
height: 100%;
}

.card-link {
height: 100%;
}

.card {
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 30px;
width: auto;
height: 100%;
padding: 50px 40px;
}

.card_type_film {
background: url(../images/card-lot-01.jpg);
background-size: cover;
background-position: center;
}

.card_type_book {
background: url(../images/card-lot-02.jpg);
background-size: cover;
background-position: center;
}

.card_type_picture {
background: url(../images/card-lot-03.jpg);
background-size: cover;
background-position: center;

}

.card__title {
position: relative;
z-index: 1;
font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 22px;
text-transform: uppercase;
text-decoration: underline;
color:white
}

.card__text {
position: relative;
z-index: 1;
font-family: Raleway;
font-style: Regular;
font-size: 20px;
color:white;
}

.lots__look-more-link {
display: block;
font-family: Raleway;
font-weight: 400;
font-style: Regular;
font-size: 20px;
text-decoration: underline;
width: fit-content;
}

.about { 
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 25px;
padding: 0 50px;
}

.about_column {
justify-content: center;
}

.about__text_column {
grid-column: 2/4;
}

.logo_about {
display: flex;
justify-content: center;
align-items: center;
width: 240px;
height: 240px;
background-color: black;
border-radius: 50%;
}

.about__logo-image {
width: 148px;
}

.about__title {
padding: 100px 0 104px;
font-weight: bold;
text-transform: uppercase;
}

.about__text {
display: flex;
flex-direction: column;
gap: 24px;
}

.footer {
display: flex;
justify-content: space-between;
padding: 180px 50px 80px;
}

.footer__social-icon {
width: auto;
height: 48px;
}

.footer__menu-list {
text-align: center;
list-style: none;
}

.footer__menu-link {
font-size: 18px;
line-height: normal;
text-underline-position: under;
}


.footer__menu-link_active {
text-decoration: none;
}

.footer__social-list {
display: flex;
gap: 48px;
list-style: none;
}
