.header {
width: 1100;
height: 293;
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding: 92px 50px 96px 50px;
}

.header__links-list {
padding-right: 36px;
display: flex;
flex-direction: row;
gap: 13px;
list-style: circle;
}
.header__links-list-item {

}
.header__link {

}
.header__logo {
display: block;
justify-self: center;
align-self: center;
width: 148px;
}

.header__logo-image {
width: 100%;
}

.address {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.header__address {
max-width: 240px;
justify-self: end;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 25px;
}

.remove-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 136px 0 0;
}

.cover__description-text {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px white solid;
  padding: 14px 32px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.first_lot{
background-image:url(/Users/anastasiasudakova/Desktop/ono-tebe-nado-fd/images/card-lot-01.jpg);
}

.second_lot{
background-image:url(/Users/anastasiasudakova/Desktop/ono-tebe-nado-fd/images/card-lot-02.jpg);
}

.third_lot{
background-image:url(/Users/anastasiasudakova/Desktop/ono-tebe-nado-fd/images/card-lot-03.jpg);
}