.header {
width: 1100px;
height: 293px;
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
padding: 165px 50px 207px 50px;
}

.header__links-list {
display: flex;
flex-direction: row;
gap: 26px;
list-style: circle;
font-weight: 400;
font-size: 18px;
}

.header__logo {
display: block;
justify-self: center;
align-self: center;
width: 148px;
height: 105;
top: 92px;
left: 478px;
}

.header__logo-image {
width: 100%;
}

.address {
display: flex;
flex-direction: column;
align-items: flex-start;
font-style: normal;
max-width: 240px;
font-family: Raleway;
font-weight: 400;
font-size: 18px;
}

.header__address {
justify-self: end;
}

.cover {
position: relative;
padding: 165px 50px 50px 50px;
background-image: url(../images/cover.jpg);
background-size: cover;
}

/*
.overlay {
position: absolute;
top: 0; left: 0; right: 0; bottom: 0;
z-index: 0;
width: 100%; height: 100%;
background-color: rgb(0, 0, 0, 0.6);
}
*/

.cover__title {
position: relative;
z-index: 1;
display: flex;
flex-direction: column;
gap: 20px;
color: white;
font-family: Raleway;
font-weight: 700;
font-size: 100px;
line-height: 114.99999999999999%;
letter-spacing: 30px;
text-transform: uppercase;
}

.aligned-text {
display: block;
}

.aligned-text_center {
text-align: center;
}

.aligned-text_right {
text-align: right;
}

.letter-spacing-extended {
letter-spacing: 25px;
}

.remove-spacing {
letter-spacing: normal;
}

.cover__description {
position: relative;
z-index: 1;
display: flex;
justify-content: flex-start;
align-items: center;
gap: 107px;
padding: 106px 0 0;
}

.cover__description-text {
color: white;
font-size: 22px;
text-transform: uppercase;
word-spacing: 23px;
line-height: 28px;
width: 637px;
height: 28px;
white-space: nowrap;
}

.bet-button {
border: 1px white solid;
padding: 12px 32px 11px 31px;
color: white;
font-size: 22px;
text-transform: uppercase;
background-color: transparent;
}


.lots {
padding:0 40px;
}

.lots__heading {
padding: 180px 40px 27px;
font-weight: bold;
font-size: 40px;
text-transform: uppercase;
}

.lots__card-list {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 25px;
list-style: none;
}

.lots__card-list-item {
height: 100%;
}

.card-link {
display: block;
height: 100%;
}

.card {
position: relative;
display: flex;
justify-content: start;
flex-direction: column;
width: auto;
height: 100%;
padding: 48px 40px 48px 40px;
}

.card_type_film {
background: url(../images/card-lot-01.jpg);
background-size: cover;
background-position: center;
}

.card_type_book {
background: url(../images/card-lot-02.jpg);
background-size: cover;
background-position: center;
}

.card_type_picture {
background: url(../images/card-lot-03.jpg);
background-size: cover;
background-position: center;

}

.card__title {
position: relative;
z-index: 1;
font-weight: Bold;
font-size: 22px;
text-transform: uppercase;
text-decoration: underline;
color:white;
}

.card__text {
display: flex;
justify-content: end;
position: relative;
z-index: 1;
font-weight: normal; 
font-size: 20px;
color:white;
list-style: none;
}

.lots__look-more-link {
display: block;
margin: 30px 0 0 40px;
font-weight: normal;
font-size: 20px;
text-decoration: underline;
width: fit-content;
}

.about { 
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 25px;
padding: 120px 24px 180px 24px;
}

.about_column {
justify-content: center;
}

.about__text_column {
grid-column: 2/4;
}

.logo_about {
margin: 153px 72px 307px 47px;
display: flex;
justify-content: center;
align-items: center;
width: 240px;
height: 240px;
background-color: black;
border-radius: 50%;
}

.about__logo-image {
width: 148px;
}

.about__title {
margin-top: 256px;
margin-left: 20px;
font-weight: 700;
font-size: 40px;
line-height: 100%;
text-transform: uppercase;
}

.about__text {
margin-top: 100px;
display: flex;
flex-direction: column;
font-weight: 400;
font-size: 20px;
gap: 24px;
line-height: normal;
}

.footer {
display: flex;
justify-content: space-between;
padding: 180px 50px 80px;
}

.footer__social-icon {
width: auto;
height: 48px;
}

.footer__menu-list {
text-align: center;
list-style: none;
}

.footer__menu-link {
font-size: 18px;
line-height: normal;
text-underline-position: under;
}


.footer__menu-link_active {
text-decoration: none;
}

.footer__social-list {
display: flex;
gap: 48px;
list-style: none;
}
