.sections {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 89px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.menu-link {
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
}

.menu-link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  width: 140px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-style: inherit;
}

.header__address {
  justify-self: end;
  font-style: inherit;
  min-width: 240px;
}

.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  text-align: center;
  letter-spacing: 30px;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 25px;
}

.remove-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 107px;
  padding: 106px 0 0;
}

.cover__description-text {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  width: 637px;
  white-space: nowrap;
  line-height: 1.27;
}

.bet-button {
  border: 1px white solid;
  padding: 12px 32px 11px 31px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding-top: 180px;
}

.lots__heading {
  padding: 0 0 27px 64px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
  list-style: none;
  padding: 0 24px;
}

.lost__card-list-item {
  height: 100%;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px 48px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 596px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 64px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-position: under;
  width: fit-content;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  padding: 120px 28px 0 24px;
}

.about__column {
  padding-top: 30px;
  justify-self: center;
}

.about__column_text {
  grid-column: 2/4;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  padding: 100px 0 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text p {
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.footer__social-icon {
  width: auto;
  height: 48px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}
